@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");
:root {
  --nav-color: #96ceb4;
  --pale-color: #ffeead;
  --orange: #ffcc5c;
  --lightpink: #ff6f69;
}
* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

/* NAVBAR */
.custom-navbar {
  background-color: var(--nav-color) !important;
  height: 80px !important;
  color: var(--lightpink) !important;
  font-size: 20px;
  width: 100% !important;
  gap: 15px;
  margin: auto;
  text-decoration: none;
 
  
}

.custom-navbar-links{
  font-weight: normal;
  margin: auto;
  
}
.custom-navbar-links:hover{
  color: aliceblue !important;
  font-weight: normal !important;
  display: flex !important;
  margin: auto !important;
}