@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");
:root {
  --nav-color: #96ceb4;
  --pale-color: #ffeead;
  --orange: #ffcc5c;
  --lightpink: #ff6f69;
}


/* NAVBAR */
.custom-container-navbar {
  background-color: var(--nav-color) !important;
  height: 100px !important;
  color: var(--lightpink) !important;
  font-size: 20px;
  width: 100% !important;
  text-decoration: none;
 
}

/* LOGO */
.nav-icon{
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  height: 85px;
  width: 125% !important;
 
}

/* HOME AND CITIES LINKS */


.custom-navbar-links{
  font-weight: normal;
  margin: auto;
  
}
.custom-navbar-links:hover{
  color: aliceblue !important;
  font-weight: normal !important;
  display: flex !important;
  margin: auto !important;
}


/* USER ICON */

.div-dropdown{
position: relative;
}

.user-icon{
  font-size: 3.5rem;
  
}

.user-icon:hover{
  color: aliceblue !important;
  font-size: 3.5rem;
} 

.ul-dropdown{
position: relative;
top: 3rem;
right: 5rem !important;
margin-right: 10rem!important;
 
}

.signin{
 
}

.signup{

}
