.city-navbar{
    background-color: rgb(37, 98, 155) !important;
  /*   display: flex !important;
    justify-content: center !important;  */
    
}

.slide {
  height: auto !important;
  width:90% !important;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 15%;
  

}