@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');
:root{
  --nav-color:#96ceb4;
  --pale-color: #ffeead;
  --orange: #ffcc5c;
  --lightpink: #ff6f69;
}


* {
	padding: 0px;
	margin: 0;
	box-sizing: border-box;
}

body {

	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	min-height: 100vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.formulario {
	min-width: 400px;
	margin-top: 100px;
	margin-bottom: 100px;
	background: #fff;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0 0 15px 0 rgba(92, 82, 82, 0.5);
}

.formulario > div {
	margin-bottom: 20px;
}

.formulario label {
	display: block;
	font-weight: 600;
	font-size: 15px;
	margin-bottom: 5px;
	color: #3d3d3d;
	letter-spacing: 0.5;
	
}

.formulario input,
.formulario textarea {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	border-radius: 5px;
	border: 2px solid #e2e2e2;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.formulario input:focus {
	outline: none;
	border: 2px solid #0085FF;
}

.formulario .error {
	color: #e92b2d;
	font-weight: 600;
	font-size: 12px;
	margin-left: 4px;
}

.formulario button[type="submit"] {
	display: block;
	background: #0085FF;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
}

.formulario button[type="submit"]:hover {
	background: #0051ff;
}

.formulario .exito {
	text-align: center;
	font-size: 14px;
	padding-top: 20px;
	color: #20a520;
}

.change-form-message {
	text-decoration: none;
	color: black;
	color: rgb(68, 68, 68);
	cursor: pointer;
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 4px;

}

.signup-form-message a{
	text-decoration: none;
	color: rgb(68, 68, 68);
	cursor: pointer;
	display: flex;
	justify-content: center; 
 	margin-top: 10px;
    margin-bottom: -15px;
}

::placeholder{
	color: rgb(51, 49, 49);
	font-size: 1rem;
	letter-spacing: 0.1;
	opacity: 0.3;
}